<!doctype html>
<html>
<head>
  <% page = { title : 'About' , name : 'about' } %>
  <meta charset="utf-8">
  <title><%= page.title %></title>

    <!-- build:css css/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->

    <!-- build:css(tmp) css/about.css -->
    <link rel="stylesheet" href="css/about.css">
    <!-- endbuild -->
</head>
<body>

<% include tpl/header.html %>

<div id="main" class="container">
    <div class="jumbotron">
      <h1>About Us</h1>
      <p>Imagination, meet implementation. HTML5 is the cornerstone of the W3C's open web platform; a framework designed to support innovation and foster the full potential the web has to offer. Heralding this revolutionary collection of tools and standards, the HTML5 identity system provides the visual vocabulary to clearly classify and communicate our collective efforts.</p>
    </div>
</div>


<% include tpl/footer.html %>


</body>
</html>
