<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Primitive Website Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- build:css({.tmp/serve,src}) css/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) css/about.css -->
    <link rel="stylesheet" href="css/about.css">
    <!-- endbuild -->
  </head>
  <body>
      
    <% title = "Primitive Website Demo"; %>
      
    <h1><%= title %></h1>

    <!-- build:js({.tmp/serve, src}) js/about.js -->
    <script src="js/about/about.js"></script>
    <!-- endbuild -->

  </body>
</html>
