<!doctype html>
<html>
<head>
  <% page = { title : 'Detail' , name : 'detail' } %>
  <meta charset="utf-8">
  <title><%= page.title %></title>

    <!-- build:css css/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->

    <!-- build:css(tmp) css/detail.css -->
    <link rel="stylesheet" href="css/sprite.css">
    <link rel="stylesheet" href="css/detail.css">
    <!-- endbuild -->

</head>
<body>

<% include tpl/header.html %>

<div id="main" class="container">
  <div class="row">
    <div class="col-md-6">
      <section>
        <img src="image/html5-display.png" alt="">
      </section>
    </div>
    <div class="col-md-6">
      <section>
        <h1>THE TECH­NOLOGY</h1>
        <p>Imagination, meet implementation. HTML5 is the cornerstone of the W3C's open web platform; a framework designed to support innovation and foster the full potential the web has to offer. Heralding this revolutionary collection of tools and standards, the HTML5 identity system provides the visual vocabulary to clearly classify and communicate our collective efforts.</p>
      </section>
    </div>
  </div>


  <div class="row detail">
    <div class="col-md-6" id="icons">
      <div class="row">
        <div class="col-md-3">
          <div class="sprite-icon sprite-icon-3d-effects active"></div>
        </div>
        <div class="col-md-3">
          <div class="sprite-icon sprite-icon-connectivity"></div>
        </div>
        <div class="col-md-3">
          <div class="sprite-icon sprite-icon-device-access"></div>
        </div>
        <div class="col-md-3">
          <div class="sprite-icon sprite-icon-multimedia"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="details">
      <section class="active">
        <h2>3D, GRAPHICS &amp; EFFECTS</h2>
        <p>Between SVG, Canvas, WebGL, and CSS3 3D features, you're sure to amaze your users with stunning visuals natively rendered in the browser.</p>
      </section>

      <section>
        <h2>CONNECTIVITY</h2>
        <p>More efficient connectivity means more real-time chats, faster games, and better communication. Web Sockets and Server-Sent Events are pushing (pun intended) data between client and server more efficiently than ever before.</p>
      </section>

      <section>
        <h2>DEVICE ACCESS</h2>
        <p>Beginning with the Geolocation API, Web Applications can present rich, device-aware features and experiences. Incredible device access innovations are being developed and implemented, from audio/video input access to microphones and cameras, to local data such as contacts & events, and even tilt orientation.</p>
      </section>

      <section>
        <h2>MULTIMEDIA</h2>
        <p>Audio and video are first class citizens in the HTML5 web, living in harmony with your apps and sites. Lights, camera, action!</p>
      </section>

    </div>
  </div>

</div>


<% include tpl/footer.html %>

<!-- build:js js/vendor.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->

<!-- build:js(tmp) js/detail.js -->
<script src="js/detail.js"></script>
<!-- endbuild -->

</body>
</html>
